*{
    margin:0;
    padding: 0;
}

nav{
    background-color: rgb(37,9,37);
    color: white;
    height: 62px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px ;
    font-family: sans-serif;
}
nav ul{
    list-style-type: none;
}
.gamecontainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}
.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    position: relative;
}
/* .container div{ */
    
.box{
    border: 2px solid black;
    font-size: 7vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: blanchedalmond;
}
.gameinfo{
    padding: 0 34px;
}
.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}
.br-0{
    border-right: 0px;
}
.bl-0{
    border-left: 0px;
}
.bbt-0{
    border-bottom: 0px;
}
.bt-0{
    border-top: 0px;
}

#reset{
    margin: 0 23px;
    padding: 4px 10px;
    background-color: #e8d4e8;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 23px;
}
.line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    transition: width 1s ease-in-out;
}
@media screen and (max-width: 800px) 
{
    .gamecontainer{
        flex-wrap: wrap;
    }  
    .gameinfo{
        margin-top: 34px;
    } 
}
/* .container{
    grid-template-rows: repeat(3,20vw);
    grid-template-columns: repeat(3,20vw);
} */